<!DOCTYPE html>
<html lang="en">
    <%- include('includes/header'); %> 

<body class="d-flex flex-column min-vh-100">

        <!-- Main content  -->
    <form action="/admin/create-quiz" method="post">

    <div class="m-3 text-center">
        <input type="text" placeholder="Enter Quiz Name" class="form-control" aria-label="Large"
        aria-describedby="inputGroup-sizing-sm" name="qname">
    </div>

   
        <!-- Quetion 1 --> 
    <div class="container shadow-lg p-5 rounded">
        <input type="number" placeholder="Quetion Number" name="qno1">
        <input type="text" placeholder="Enter Quetion" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="quetion1">
        <input type="text" placeholder="Option 1" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option1">
        <input type="text" placeholder="Option 2" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option2">
        <input type="text" placeholder="Option 3" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option3">
        <input type="text" placeholder="Option 4" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option4">
        <input type="text" placeholder="Enter Answer" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="answer1">
    </div>
    <!--Quetion 1-->

     <!-- Quetion 2 --> 
     <div class="container shadow-lg p-5 rounded">
        <input type="number" placeholder="Quetion Number" name="qno2">
        <input type="text" placeholder="Enter Quetion" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="quetion2">
        <input type="text" placeholder="Option 1" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option21">
        <input type="text" placeholder="Option 2" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option22">
        <input type="text" placeholder="Option 3" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option23">
        <input type="text" placeholder="Option 4" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option24">
        <input type="text" placeholder="Enter Answer" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="answer2">
    </div>
    <!--Quetion 2-->

     <!-- Quetion 3 --> 
     <div class="container shadow-lg p-5 rounded">
        <input type="number" placeholder="Quetion Number" name="qno3">
        <input type="text" placeholder="Enter Quetion" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="quetion3">
        <input type="text" placeholder="Option 1" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option31">
        <input type="text" placeholder="Option 2" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option32">
        <input type="text" placeholder="Option 3" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option33">
        <input type="text" placeholder="Option 4" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option34">
        <input type="text" placeholder="Enter Answer" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="answer3">
    </div>
    <!--Quetion 3-->

     <!-- Quetion 4 --> 
     <div class="container shadow-lg p-5 rounded">
        <input type="number" placeholder="Quetion Number" name="qno4">
        <input type="text" placeholder="Enter Quetion" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="quetion4">
        <input type="text" placeholder="Option 1" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option41">
        <input type="text" placeholder="Option 2" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option42">
        <input type="text" placeholder="Option 3" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option43">
        <input type="text" placeholder="Option 4" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option44">
        <input type="text" placeholder="Enter Answer" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="answer4">
    </div>
    <!--Quetion 4-->

     <!-- Quetion 5 --> 
     <div class="container shadow-lg p-5 rounded">
        <input type="number" placeholder="Quetion Number" name="qno5">
        <input type="text" placeholder="Enter Quetion" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="quetion5">
        <input type="text" placeholder="Option 1" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option51">
        <input type="text" placeholder="Option 2" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option52">
        <input type="text" placeholder="Option 3" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option53">
        <input type="text" placeholder="Option 4" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="option54">
        <input type="text" placeholder="Enter Answer" class="form-control m-3" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="answer5">
    </div>
    <!--Quetion 5-->

    <div class="m-3 text-center">
        <button class="btn btn-success" type="submit">Create</button>
    </div>
   </form>
   

    
<!-- Main content  -->

</body>

</html> 