<!DOCTYPE html>
<html lang="en">

  <%- include('includes/header'); %> 

<body class="d-flex flex-column min-vh-100">

    <!-- main content  -->
    <div class="m-2 text-center">
        <p class="h2">General Knowledge Result</p>
    </div>
    <div class="container-md bg-light text-white shadow-lg p-5 rounded">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td> 
                <td>Thornton</td>
              </tr>
            </tbody>
          </table>
    </div>

     <!-- main content  -->

     <%- include('includes/footer'); %> 

</body>

</html> 